.navbar-primary{
    float: left;
    width: 100%;
    box-shadow: 1px 3px 5px #e7e7e7;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    .logo{
        width: 40%;
        margin-top: 10px;
    }
    .cart-widget{
        display: flex;
        align-items: center;
    }
    ul{
        list-style: none;
        display: flex;
        li{
            margin: 0px 10px;
            button{
                background: rgb(233, 153, 16);
               border-radius: 10px;
               border: none;
                font-size: 18px;
                cursor: pointer;
                text-transform: uppercase;
                   
            }
        }
    }
}

