.countProd{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    width: 140px;
    height: 50px;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 40px auto 0;
    
   
}
.count-button{
    color: black;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    font-size: 1.6rem;
    transition: all 250ms ease-out;
     
}
.count-button:hover{
    border: none;
    color: black;
    background-color:#ffff6f;
}
  
.count-button[disabled]{
    color: black;
    background-color: transparent;
    border: 1px solid black;
}
.count-container__count{
    height: 100%;
    padding-top: 10px;
    color:black;
    border: 1px solid black;
    background-color: #ffff6f;
}
.button-agregar{
    margin-top: 15px;
    height: 100%;
    color:black;
    border: 1px solid black;
    background-color: #ffff6f;
}
  
